<div class="vertical-start-stretch white-bg full-height padding-6em gap-4em">
  <div class="horizontal-space-between-center">
    <div class="vertical-start-stretch txt-container gap-1em">
      <h1 class="big-text">
        Welcome To <br />
        <span class="primary-color">Abela Trust</span>
      </h1>
      <h3 class="para">
        Providing funding opportunities for education and poverty relief
        programs.
      </h3>
    </div>
    <div class="vertical-start-stretch image-container">
      <img class="glow-image" src="../../../assets/school-kids.jpg" alt="" />
    </div>
  </div>
  <div class="horizontal-space-between-center">
    <mat-card *ngFor="let card of cards" class="padding-2em width-32 card">
      <div class="horizontal-start-stretch">
        <div class="vertical-start-stretch gap-1em">
          <div class="horizontal-center-center gap-1em">
            <mat-icon>{{ card.icon }}</mat-icon>
            <h2 class="bold">{{ card.label }}</h2>
          </div>
          <p>{{ card.txt }}</p>
          <button (click)="goTo(card.route)" mat-raised-button class="secondary-bg white-color round">
            Get Started
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
