<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
<div class="horizontal-center-center full-height">
    <div class="vertical-start-stretch full-width">
        <div class="horizontal-space-between-stretch">
            <div></div>
            <mat-icon class="pointer red-color" (click)="dialogRef.close()">close</mat-icon>
          </div>
          <div class="vertical-start-stretch gap-1em">
              <h1 class="primary-color center-text bold">{{ data.header }}</h1>
              <small>Enter the email associated with your account</small>
                <form [formGroup]="emailForm">
                    <div class="vertical-start-stretch gap-1em">
                        <div class="vertical-start-stretch grey-input-container">
                            <mat-form-field appearance="outline">
                                <input matInput name="search" formControlName="email" placeholder="Enter Email"
                                    type="email">
                                <mat-error *ngIf="emailForm.get('email')?.hasError('required')">
                                    Email is <b>required!</b>
                                </mat-error>
                                <mat-error *ngIf="emailForm.get('email')?.hasError('pattern')">
                                    Email is <b>invalid!</b>
                                </mat-error>
                                <mat-icon matPrefix>email</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="vertical-center-center">
                            <button (click)="submitForm(emailForm)" class="primary-bg white-color border-radius-2em"
                                mat-raised-button>Submit</button>
                        </div>
                    </div>
                </form>

            </div>

    </div>
</div>