<!-- <div class="horizontal-start-stretch container"> -->
<mat-drawer-container class="container" autosize>
    <mat-drawer class="padding-3em" #drawer mode="side" opened>
        <div class="vertical-start-stretch full-width gap-3em">
            <div class="vertical-center-center full-width full-height">
                <img src="../../../assets/abela-logo-white.svg" width="100px" alt="Abela Logo">
            </div>
            <div class="vertical-center-stretch full-width full-height gap-1em">
                <div (click)="goTo(item.url, i)" [class.active]="i === selectedItem"
                    *ngFor="let item of sideNavItems; let i = index;"
                    class="horizontal-start-center gap-1em white-bg side-nav-items pointer">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <h4 class="span bold">{{ item.title }}</h4>
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="full-width light-grey-bg border-radius-70px padding-3em content-width content-height">
        <div class="vertical-start-stretch full-width full-height">
            <div class="vertical-start-stretch height-60px">
                <app-navbar [drawer]="drawer" [admin]="admin" [currentPage]="currentPage"></app-navbar>
            </div>
            <div class="router-height margin-top-3em">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<!-- </div> -->