<!-- <div class="horizontal-start-stretch container"> -->
    <mat-drawer-container class="container" autosize>
        <mat-drawer class="padding-3em" #drawer mode="side" opened>Drawer content</mat-drawer>
        <mat-drawer-content class="full-width light-grey-bg border-radius-70px full-height padding-3em content-width">
            <div class="vertical-start-stretch full-width full-height">
                <app-navbar [drawer]="drawer"></app-navbar>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
<!-- </div> -->