<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
<div class="horizontal-center-stretch white-bg padding-2em-zero full-height">
    <div class="vertical-start-center width-90 gap-1em">
            <app-share-icons [user]="user"></app-share-icons>
            <div class="vertical-start-stretch gap-1em">
                <h3 class="secondary-color bold border-bottom-secondary">Contact & Address Details</h3>
                <div class="vertical-start-stretch">
                    <app-key-value-list *ngIf="user?.contactDetails" [dataList]="userDetailsList"></app-key-value-list>
                </div>
            </div>
            <div class="horizontal-center-center gap-5px">
                <button (click)="openRegisterDialog()" class="primary-bg white-color border-radius-2em" mat-raised-button>Edit Details</button>
                <button (click)="openPasswordDialog()" class="secondary-bg white-color border-radius-2em" mat-raised-button>Reset Password</button>
            </div>
        </div>
    </div>