@media (max-width: 600px) {
    .col-sm {
        flex-direction: column !important;
        width: 100%;

        .width-30,
        .btn-sm {
            width: 100% !important;
        }
    }

    .card-container {
        width: 95% !important;
    }

    .register {
        height: 120vh !important;
    }

    .row-sm {
        gap: 1em !important;
        justify-content: start !important;
    }

    .share-text {
        width: 100% !important;
    }
}

@media (max-width: 880px) {
    .hidden {
        display: none !important;
    }

    .visible {
        display: block;
    }

    .mat-drawer-content.content-width {
        width: calc(100% - 2em) !important;
    }

    .border-radius-zero {
        border-radius: 0 !important;
    }

    .section-width {
        width: 100% !important;
    }

    .flex-wrap {
        flex-wrap: wrap !important;
    }

    .new-app {
        .col-sm {
            gap: 1em !important;
        }
    }

    .content-height {
        height: 100vh !important;
    }

    .container .padding-3em {
        padding: 2em 1em 4em 1em !important;
    }

    .gap-sm {
        gap: 1em !important;
    }
}

@media (min-width: 885px) {
    .hide-menu {
        display: none !important;
    }
}