/* You can add global styles to this file, and also import other style files */
@import './flex.scss';
@import './responsive.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-container,
app-dashboard,
app-applications,
app-new-application,
app-login,
app-register,
app-view-application,
app-my-applications,
app-profile,
app-referrals,
.stepper-container {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-end: 0 !important;
    margin-block-start: 0 !important;
}

//=============================================================================================================================================
// Colors
// ============================================================================================================================================
$primary: #e01a72;
$secondary: #212158;
$black: #000000;
$white: #ffffff;
$lightBlue: #48a9f8;
$lightGreen: #1cd086;
$grassGreen: #149a00;
$grey: #e3e3e3;
$darkGrey: #495057;
$lightGrey: #f2f2f2;
$orange: #ffa500;
$red: #c20000;

.primary-color,
.side-nav-items {
    color: $primary;
}

.secondary-color {
    color: $secondary;
}

.black-color {
    color: $black;
}

.white-color,
.active {
    color: $white;
}

.light-grey-color {
    color: $lightGrey;
}

.grey-color {
    color: $grey;
}

.dark-grey-color {
    color: lighten($black, 20%);
}

.light-blue-color {
    color: $lightBlue;
}

.red-color {
    color: $red;
}

.orange-color {
    color: $orange;
}

.green-color {
    color: $grassGreen;
}

.bold,
.active {
    font-weight: bold !important;
}

.fw-500 {
    font-weight: 500 !important;
}

//=============================================================================================================================================
// Background Color
// ============================================================================================================================================
.primary-bg,
body {
    background-color: $primary !important;
}

.secondary-bg,
.active {
    background-color: $secondary !important;
}

.black-bg {
    background-color: $black;
}

.white-bg {
    background-color: $white;
}

.light-grey-bg {
    background-color: $lightGrey;
}

.grey-bg {
    background-color: $grey;
}

.orange-bg {
    background-color: $orange;
}

.green-bg {
    background-color: $grassGreen;
}

.red-bg {
    background-color: $red;

}

.icons {
    width: 40px;
    height: 40px;
}

.height-60px {
    height: 60px;
}

.stepper-container {
    overflow-y: auto !important;
    ;
}

.mat-drawer {
    width: 250px;
    height: 100%;
    background-color: transparent !important;
}

.mat-drawer-side {
    border-right: none !important;
}

.mat-drawer-container {
    background: transparent !important;
}

.content-height {
    height: calc(100vh - 80px) !important;
    overflow: auto;
}

.container {
    height: 100vh;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100%;
}

.border-radius-70px {
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
}

.padding-3em {
    padding: 3em;
}

.padding-1em {
    padding: 1em;
}

.padding-2em-zero {
    padding: 2em 0;
}

.gap-2em {
    gap: 2em;
}

.gap-1em {
    gap: 1em;
}

.gap-5px {
    gap: 5px;
}

.margin-bottom-1em {
    margin-bottom: 1em !important;
}

.margin-bottom-05em {
    margin-bottom: 0.5em !important;
}

@mixin inputReset {
    .mat-error {
        margin-top: 1.5em !important;
        margin-left: -10px;
    }

    mat-form-field {
        width: 100%;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    .mat-form-field-infix {
        border-top: 0 solid transparent;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: transparent;
        border-radius: 4px;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.8em 0 0.5em 0;
    }
}

@mixin greyBackground {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        background: rgba(33, 33, 33, 0.08);
    }
}

@mixin greyBorder {
    border: 1px solid $grey;
    border-radius: 4px;
}

.grey-input-container,
.grey-select-Container {
    @include inputReset;
    @include greyBackground;

    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 1.3em 0 0.8em 0;
    }
}

.grey-border-input-container {
    @include inputReset;
    @include greyBorder;

    .mat-form-field-prefix .mat-icon,
    .mat-form-field-suffix .mat-icon {
        font-size: 124%;
        color: $grey;
        cursor: pointer;
    }
}

.flex-1 {
    flex: 1;
}

.content-width {
    width: calc(100% - 250px - 6em) !important;
}

.width-25 {
    width: 25%;
}

.width-20 {
    width: 20%;
}

.width-24 {
    width: 24%;
}

.width-30 {
    width: 30%;
}

.width-46 {
    width: 46%;
}

.width-48 {
    width: 48%;
}

.width-90 {
    width: 90% !important;
}

.width-95 {
    width: 95% !important;
}

.half-width {
    width: 50%;
}

.width-400 {
    width: 400px;
}

.max-width-700 {
    max-width: 700px;
}

.max-width-930 {
    max-width: 930px;
}

.width-300 {
    width: 300px;
}

.max-width-500 {
    max-width: 500px;
}

.max-width-600 {
    max-width: 600px;
}

.max-width-900 {
    max-width: 900px;
}

.rounded {
    border-radius: 50%;
}

.pointer {
    cursor: pointer;
}

.border-radius-2em {
    border-radius: 2em !important;
}

.margin-top-1em {
    margin-top: 1em;
}

.margin-top-1-5em {
    margin-top: 1.5em;
}

.margin-top-3em {
    margin-top: 3em;
}

.gap-3em {
    gap: 3em;
}

.mSCOATableContainer,
.treeStructureContainer {
    overflow-x: auto;
    width: calc(100vw - 285px);
    min-width: 100%;
    margin-bottom: 1em;

    .mSCOATable {
        tr.mat-header-row {
            height: 50px;
            background-color: $white;
        }

        tr.mat-row {
            height: 55px;
        }

        th.mat-header-cell:last-of-type,
        td.mat-cell:last-of-type,
        td.mat-footer-cell:last-of-type {
            text-align: left;
        }

        th.mat-header-cell,
        td.mat-cell,
        td.mat-footer-cell {
            font-size: 12px;
            text-align: left;
            padding-left: 24px;
            max-width: 350px;
            white-space: break-spaces;
        }

        .rejectBtn {
            padding-right: 15px;
        }
    }
}

.margin24pxLess {
    margin-bottom: -24px !important;
}

.tableCellsTruncate {
    max-width: 100px;
}

.truncate,
.tableCellsTruncate {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filterInputContainer {
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.6em 0 0.5em 0 !important;
    }
}

.appliedFiltersContainer {
    border: 1px solid $darkGrey;
    border-radius: 6px;
    height: 25%;
    padding: 10px;
}

.router-height {
    height: calc(100vh - 60px - 112px) !important;
    overflow-y: auto;
}

.height-3em {
    height: 3em !important;
}

.height-fit-content {
    height: fit-content;
}

.status-btn {
    width: fit-content;
    padding: 0.7em;
    border-radius: 2em;
    font-weight: 500;
}

.side-nav-items {
    padding: 0.7em;
    border-radius: 2em;
}

.center-text {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.date-picker .mat-form-field-infix .mat-icon-button,
.display-none {
    display: none !important;
}

.border-bottom-secondary {
    border-bottom: 5px solid $secondary;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $darkGrey;
}

mat-progress-spinner {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    z-index: 999;
}