<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
<div class="vertical-start-stretch full-width full-height gap-1em">
    <div class="horizontal-space-between-center full-width height-40px">
        <div class="vertical-start-stretch full-width">
            <span class="bold">Showing {{referralsCount}} Referral(s)</span>
        </div>
        <div class="vertical-start-stretch grey-input-container width-25">
            <mat-form-field appearance="outline">
                <input (keyup)="applyFilter($event)" #input matInput type="text" placeholder="Filter Referrals">
                <mat-icon matSuffix>filter_alt</mat-icon>
            </mat-form-field>
        </div>
    </div>

    <div class="vertical-start-stretch full-width full-height">
        <div class="horizontal-start-stretch full-width white-bg table-container full-width full-height">
            <div *ngIf="!(loading$ | async) && (referralsCount && referralsCount) == 0" class="horizontal-center-center full-width full-height">
                <h1 class="bold padding-3em center-text">No referrals yet.</h1>
            </div>
            <div class="horizontal-start full-width" [class.display-none]="loading$ && referralsCount == 0">
                <table [hidden]="referralsCount == 0"  mat-table [dataSource]="dataSource" #table matSort class="mat-elevation-z8 full-width">

                    <ng-container matColumnDef="referralDate">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Referral Date </th>
                        <td mat-cell *matCellDef="let referral"
                            matTooltip="{{referral?.referralDate | date: 'mediumDate'}}">
                            {{referral?.referralDate | date: 'mediumDate'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="referredPerson">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Referred Person </th>
                        <td mat-cell *matCellDef="let referral" matTooltip="{{referral?.referredPerson}}">
                            {{referral?.referredPerson}} </td>
                    </ng-container>

                    <ng-container matColumnDef="referredBy">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Referred By </th>
                        <td mat-cell *matCellDef="let referral" matTooltip="{{referral?.referredBy}}">
                            {{referral?.referredBy}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Referrer Email </th>
                        <td mat-cell *matCellDef="let referral" matTooltip="{{referral?.referrerEmail}}">
                            {{referral?.referrerEmail}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef> Referrer Phone </th>
                        <td mat-cell *matCellDef="let referral" matTooltip="{{referral?.referrerPhone}}">
                            {{referral?.referrerPhone}}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
            </div>
        </div>
        <mat-paginator #paginator [class.display-none]="referralsCount == 0" [pageSizeOptions]="[6, 12, 18]"
            [pageSize]="6" [length]="referralsCount"></mat-paginator>
    </div>
</div>